target/*

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders

# JDT-specific (Eclipse Java Development Tools)
.classpath
.project

# Activiti designer files
.bpmn/*
/target/
